In [1]:
from bs4 import BeautifulSoup as bs
import pandas as pd
import datetime as dt
from splinter import Browser
import requests
import time

In [2]:
executable_path = {"executable_path": "chromedriver.exe"}
browser = Browser("chrome", **executable_path, headless=False)

In [3]:
marsurl = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(marsurl)

In [4]:
html = browser.html
soup = bs(html, "html.parser")

In [5]:
news_title = soup.find('div', class_="content_title").text.strip()
news_title

'NASA Adds Return Sample Scientists to Mars 2020 Leadership Team'

In [6]:
news_p = soup.find('div', class_="article_teaser_body").text.strip()
news_p

'The leadership council for Mars 2020 science added two new members who represent the interests of scientists destined to handle and study the first samples from Red Planet.'

# Get Image from JPL

In [7]:
#use splinter to navigate the site JPL Featured Space Image

imageurl = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(imageurl)
time.sleep(1)

In [8]:
#click the button
browser.find_by_id('full_image').first.click()
time.sleep(1)

In [9]:
html = browser.html
soup = bs(html, "html.parser")

In [10]:
marsimage = soup.find('img', class_="fancybox-image").get("src")
baseurl = 'https://www.jpl.nasa.gov'
featured_image_url = baseurl+marsimage
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17172_ip.jpg'

# Mars Twitter

In [3]:
##tweetsurl = 'https://twitter.com/MarsWxReport'
##browser.visit(tweetsurl)
##time.sleep(3)

In [4]:
##html = browser.html
##soup = bs(html, "html.parser")

In [6]:
##weather=soup.find('div', class_='js-tweet-text-container').text
##weather

AttributeError: 'NoneType' object has no attribute 'text'

In [7]:

#visitng MarsWeather Twitter page
url_3='https://twitter.com/marswxreport?lang=en'
response=requests.get(url_3)

#set up parser
soup=bs(response.text, 'lxml')

#finding latest tweet for Mars weather
weather=soup.find('div', class_='js-tweet-text-container').p.text

In [35]:
print(weather)

InSight sol 438 (2020-02-19) low -95.4ºC (-139.7ºF) high -10.0ºC (13.9ºF)
winds from the SSE at 5.9 m/s (13.3 mph) gusting to 22.1 m/s (49.3 mph)
pressure at 6.30 hPapic.twitter.com/dFu1S5EhpH

# Mars Facts

In [ ]:
#Visit the Mars Fact Sheet and use Pandas to scrape the data in the tables
#Use pandas to convert to HTML string

In [14]:
factsurl = 'https://space-facts.com/mars/'
browser.visit(factsurl)
time.sleep(1)

In [16]:
dfinitial = pd.read_html(factsurl)
df = dfinitial[0]
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [17]:
newdf = df.set_index(0).rename(columns={1:"Value"})
newdf

                                              Value
0
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [21]:
factshtml = newdf.to_html(classes="table-condensed")
factshtml

'<table border="1" class="dataframe table-condensed">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>0</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

# USGS Astrogeology

In [ ]:
#Visit USGS Astrogeology site to obtain high res images of each of the 4 hemispheres
#each one will need to be clicked to to access
#use a python dictionary to store the title and the image under the keys:
#img_url and title.
#append the dictionary with a  img and title and add it to the list, this list will contain a dictionary for each hemisphere

In [156]:
usgsurl = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(usgsurl)
time.sleep(5)

In [186]:
hemi_data =[]

for i in range (4):
    browser.find_by_css('a.product-item h3')[i].click()
    time.sleep(2)
    html = browser.html
    soup = bs(html, "html.parser")
    heminame = soup.find('h2').text.strip()
    hemipic = soup.find('a', target="_blank").get("href")
    hemisphere = {
        "title" : heminame,
        "img_url" : hemipic
    }
    hemi_data.append(hemisphere)
    browser.back()
hemi_data

In [185]:
#click the button

In [178]:
browser.back()

In [195]:
browser.quit()

In [199]:
from flask_pymongo import PyMongo

In [197]:
pip install flask_pymongo

Collecting flask_pymongo
  Downloading https://files.pythonhosted.org/packages/67/b8/0322016b9ce09a64fba9018211e7c35fd51380527ffd9ea248744f389239/Flask_PyMongo-2.3.0-py2.py3-none-any.whl
Requirement already satisfied: PyMongo>=3.3 in c:\users\chris\anaconda3\lib\site-packages (from flask_pymongo) (3.9.0)
Requirement already satisfied: Flask>=0.11 in c:\users\chris\anaconda3\lib\site-packages (from flask_pymongo) (1.1.1)
Requirement already satisfied: Jinja2>=2.10.1 in c:\users\chris\anaconda3\lib\site-packages (from Flask>=0.11->flask_pymongo) (2.10.1)
Requirement already satisfied: itsdangerous>=0.24 in c:\users\chris\anaconda3\lib\site-packages (from Flask>=0.11->flask_pymongo) (1.1.0)
Requirement already satisfied: Werkzeug>=0.15 in c:\users\chris\anaconda3\lib\site-packages (from Flask>=0.11->flask_pymongo) (0.15.4)
Requirement already satisfied: click>=5.1 in c:\users\chris\anaconda3\lib\site-packages (from Flask>=0.11->flask_pymongo) (7.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\chris\anaconda3\lib\site-packages (from Jinja2>=2.10.1->Flask>=0.11->flask_pymongo) (1.1.1)
Installing collected packages: flask-pymongo
Successfully installed flask-pymongo-2.3.0
Note: you may need to restart the kernel to use updated packages.